* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: green;
    display: flex;
    justify-content: center;
    align-items: center;
}

.action-list-top-menu {
    display: flex;
    justify-content: space-between;
}

.items-per-page {
    border: 1px solid darkcyan;
}

.page-button {
    background: red;
    padding-left: 5px;
    padding-right: 5px;
}

.page-button:hover {
    background-color: blue;
}

.page-button:focus {
    background-color: green;
}

.gap-4-footer {
    display: flex !important;
    justify-content: space-between;
}

.footer-date {
    display: flex;
    align-items: center;
    margin-right: 50px;
}

.left-item-footer {
    padding-left: 140px;
}

.back-footer {
    background-color: darkgray;
}

.hidden {
    display: none;
}

#confirmationPopup,
#confirmationPopupnew {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: aquamarine;
    border: 1px solid black;
    padding: 20px;
    height: 400px;
    width: 800px;
    z-index:
        9999;
}

#loader {
    position: fixed;
    top: 50%;
    left: 50%;
    color: red;
    background-color: red;
    transform: translate(-50%, -50%);
    z-index: 9999;
}